{% extends "admin/base.html" %}
{% load static %}
<link href="{% static 'external.css' %}" rel="stylesheet">

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block extrastyle %}
<style>
    #header {
        background: #00abff
    }


    #content-main {
        padding-left: 12rem;
    }

    body {

        background: #586b6b;
        color: #ff3d3d;
    }
    .module h2, .module caption, .inline-group h2 {
        background: #162329;
    }

    h1 {
        color: #fff;
        font-size: 1.5rem;
        padding-left: 14rem;
    }

    #content-related .module h2 {
        color: #fff
    }

    #content-related h3 {
        color: #3bd007
    }

    .quiet, a.quiet:link, a.quiet:visited {
        color: #ec7bff;
     }

    a:link, a:visited {
        color: #ffffff;
        text-align: center;
    }

    @media (max-width: 1024px)  {
        td, th {
        background: #162329eb
        }
    }

    td, th {
        background: #162329eb
    }

    #content-related {
        background: #162329;
    }

</style>
{% endblock %}

{% block branding %}

	  <a class="logo-top" href="#">
	    <img src="{% static 'img/Logo.png' %}" width="40" height="40" class="d-inline-block align-top" alt="" loading="lazy">
	    Brand Name
	  </a>
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
