<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Страница индекс</h1>
<h1>{{ object_list }}</h1>



<h2>ID = {{ obj.id }} | TIME ={{ obj.order_date_time }}</h2>
<h2>{{ obj.order_name }}</h2>
<h2>{{ obj.order_phone }}</h2>


    <form action="{% url 'thanks_page' %}" method="">
        <label>Имя</label>
        <input name="name">
        <label>Телефон</label>
        <input name="phone">
        <button type="submit">Отправить</button>
    </form>



{% if object_list %}


<table border="1">
    <tr>
        <th>ID</th>
        <th>DATE</th>
        <th>ИМЯ</th>
        <th>ТЕЛЕФОН</th>
    </tr>
 {% for obj in object_list %}
    <tr>
        <th>{{ obj.id }}</th>
        <th>{{ obj.order_date_time }}</th>
        <th>{{ obj.order_name }}</th>
        <th>{{ obj.order_phone }}</th>
    </tr>
    {% endfor %}
</table>

{% else %}
<h1>Данных нет</h1>

{% endif %}

</body>
</html>